:root{
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
  --font-size-16: 16px;
  --font-size-20: 20px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-family: 'Work Sans', sans-serif; 
}

.main{
  position: relative;
  background-color: var(--light-pink)
}

div.accordion-title{
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 36px;
}
div.background-image img{
  width:100%;
}

div.background-image{
  width: 100%;
}


.accordion{
  padding: 2rem;
  max-width: 36%;
  background-color: var(--white);
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 1px 1px 30px rgba(0,0,0,.2);
}

div.container{
  position: relative;
  height: 100vh;
}

.accordion-title h1{
  margin: 0;
}


.accordion-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.accordion-header h2{
  font-size: var(--font-size-20);
  color: var(--dark-purple);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.accordion-item-text p{
  font-size: var(--font-size-16);
  color: var(--grayish-purple);
  line-height: 1.5;
  display: none;
}

.accordion-header:first-child:not(){
  border-top: solid black 1px;
}

.close.hide {
  display: none;
}

.close{
  display: block;
}

.accordion-item-text.show p{
  display: block;
}

.open.hide {
  display: none;
}

.show {
  display: block;
}